
body{
    margin: 0;
}

.container{
    background-color: aquamarine;
    width: 60%;
    margin: auto;
    padding: 2rem;
    margin-top: 2rem;
}

form{
   
    background-color: rgb(235, 223, 65);
    color:brown;
    padding: 1rem;
    margin: 4rem;
}

#addBtn{
    
    align-items: center;
    margin-top: 2rem;
}

.item-list{
    background-color:yellowgreen;
    padding: 2rem;
    
}

.item{
    margin: 2rem;
    background-color: rgb(233, 157, 44);
   list-style: none;
   padding: 1rem;
   font-style: normal;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: purple;
}

#searchInputDiv{
    width: 100%;
    height: 4rem;
}
#searchItem, #userInput{
    height: 2rem;
}

span{
    float: right;
    color: blue;
    font-weight: bolder;
    font-size: large;
    background-color: cornsilk;
    border: solid  rgb(231, 48, 24);
    padding: 0.16rem;
    border-radius: 0.2rem;
    cursor:poinetr;
}
