
body{
    margin: 0;
}

.container{
    background-color: aquamarine;
    width: 60%;
    margin: auto;
    padding: 2rem;
    margin-top: 2rem;
}

form{
   
    background-color: rgb(235, 223, 65);
    color:brown;
    padding: 1rem;
    margin: 4rem;
}

#addBtn{
    
    align-items: center;
    margin-top: 2rem;
}

.item-list{
    background-color:yellowgreen;
    padding: 2rem;
    
}

.item{
    margin: 2rem;
    background-color: green;
   list-style: none;
}